<%= turbo_frame_tag dom_id(goal, :completed_counter) do %>
  <div class="py-1 px-2 rounded text-sm bg-violet-300 text-violet-700"><%= goal.todos.where(done: true).count %>/<%= goal.todos.count %></div>
<% end %>